@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

html, body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body{
  background-color: #E2D7D0;
  padding-top: 80px;
   min-height: 100vh;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #9C8679;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 60px;
  color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar a{
  transition: 0.3s ease;
  border-radius: 10px;
  color: white;
}

.navbar a:hover{
  background-color:#EADCD3;
  color: #816858;
  transform: scale(1.5);
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar a:active{
  background-color: white;
  color: #9C8679;
  border-radius: 6px;
}

.navbar {
  display: flex;
  list-style: none;
  gap: 25px;
}

.navbar a{
  padding: 8px 12px;
}

.cart-icon {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
}

.cart-icon svg {
  height: 35px;
  width: 45px;
  color: white;
  
}

.logo{
  color: white;
}

.cart-icon:hover{
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  background-color: #C2A79A;
}

.cart-count {
  position: absolute;
  top: 16px;
  right: 18px;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

.hero{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
   background: linear-gradient(
    to right,
    #F2C36B,
    #E0A84F,
    #C98A2E
  );
  color: white;
  margin-bottom: 50px;
  position: relative;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  left: 0;
}

.hero-image {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  margin: 0;
  z-index: 2;
}
.hero-content h1{
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-size: 52px;
  margin-bottom: 6px;
}

.hero-content h2{
  font-size: 22px;
  margin-bottom: 27px;
}

.hero-content button{
  background-color: #9C8679;
  border:none;
  padding: 10px 70px;
  border-radius: 50px;
  color: white;
  font-weight: 550;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.2s ease;
}

.hero-content button:hover {
  background-color: #977967;
  transform: translateY(-2px);
  box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-content button a {
  text-decoration: none;
  font-size: 18px;
}

.products{
  display: grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 15px;
  gap: 20px;
  margin: 10px;
  margin-top: 10px;
  height: auto;
}

.product-image .arrow,
.product-image .dots {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.product-image:hover .arrow,
.product-image:hover .dots {
  opacity: 1;
  pointer-events: auto;
}

.recently-added{
  display: block;
  margin-bottom: 100px;
}

.recently-added h2{
  font-size: 30px;
  color: #9C8679;
  margin-bottom: 1px;
  margin-left: 50px;
}

a{
  text-decoration: none;
  color: white
}

.price{
  color: black;
}

.add-to-cart{
  width: 89% !important;  
  padding: 12px 16px !important;
  font-size: 18px;
  background-color: #9C8679;
  color: white;
  cursor: pointer;
}

.product-container{
  margin: 10px;
  width: 100%;
  max-width: 280px;
  height: auto;
  border: #9C8679 1px solid;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.product-container:hover{
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transform: translateY(-5px);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  background-color: #FBEBE1;
}

.product-image{
  height: auto;
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 15px;
}

.product-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.name-price{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
  text-align: center;
  line-height: 1.2;
  color: #96715a;
}

.arrow{
  color:white;
  background-color: #9C8679;
  border-radius: 100px;
  padding: 3px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  z-index: 1;
  transform: translateY(-50%);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.arrow.left{
  left: 5px;
}

.arrow.right{
  right: 5px;
}

.arrow:hover{
  background-color: #816858;
}

.dots{
  position: absolute;
  bottom: 5px;
  display: flex;
  gap: 5px;
}

.dot{
  background-color: #ffffff;
  border: black 1px solid;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  display: inline-block;
}

.active{
  background-color: #9C8679;
  border: #9C8679 1px solid;
}

.add-to-cart{
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  width: 100%;
  margin-left: 0;
  margin-top: 15px;
  font-size: 18px;
  background-color: #9C8679;
  color: white;
  height: auto;
}

.features{
  margin-top: 10vh;
}

.first{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0 20px;;
}

.point-first,
.point-second,
.point-third{
  background-color: #FFDFAD;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  box-sizing: border-box;
  margin: 20px 50px;
}

.icon {
  flex-shrink: 0;
  flex-grow: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #9C8679;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon img {
  width: 260%;
  height: 260%;
  margin-top: 20px;
  object-fit: cover;
}

.text h3 {
  font-size: 20px;
  color: #96715a;
  margin-bottom: 10px;
}

.text p {
  font-size: 15px;
  line-height: 1.4;
}

.second{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

.slider-track{
  display: flex;
  transition: transform 0.3s ease;
  width: 100%;
  height: 100%;
}

.slider-track img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  flex-shrink: 0;
}

.tick{
  display: inline-block;
  color:#C2A79A;
  font-size: 1.2rem;
  animation: pop 0.3s ease-in-out;
}

@keyframes pop {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
} 

.toast-noti{
  position:fixed;
  bottom:  30px;
  right: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: white;
  background-color: #9C8679;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.toast-noti button{
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
  padding: 5px 5px;
}

.toast-progress{
  background-color: white;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  transition: width 0.3s ease-in-out;
}

.testomonials{
  display: flex;
  gap: 50px;
  padding-left: 50px;
  padding-right: 50px;

}

.test{
  width: 100%;
  text-align: center;
  background-color: #DBC3B4;
  border-radius: 10px;
  padding: 20px;
  height: auto;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.testomonials .name{
  font-size: 40px;
  font-weight: 700;
}

.location{
  position: absolute;
  right: 140px;
  top: 62px;
  color: #816858;
  font-size: 23px;
}

.content{
  margin-top: 30px;
  font-size: 18px;
  margin-bottom: 20px;
}

.stars{
  font-size: 35px;
  color: #816858;
}

.date-prod{
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  font-weight: 100;
  color: #96715a;
}


@media (max-width: 480px) {

   .navbar a {
    font-size: 14px;
  }

  .add-to-cart{
  font-size: 14px;
}

  .navbar{
    gap: 5px;
  }

  .logo img{
    width: 120px;
    height: auto;
  }

  .nav-right{
    gap: 10px;
  }

  nav{
    gap: 2px;
  }

  .products {
    grid-template-columns: repeat(2, 1fr);
  }

  .first {
    flex-direction: column;
  }

  .second {
    flex-direction: column;
    padding: 0 20px;
  }

  .testomonials {
    flex-direction: column;
    align-items: center;
  }

  .test {
    width: 90%;
  }

  .hero-content h1 {
    font-size: 32px;
  }

  .hero-content h2 {
    font-size: 18px;
  }

  .hero-content button {
    padding: 10px 30px;
  }

  
.testomonials .name{
  font-size: 25px;
}

.location{
  right: 90px;
  top: 50px;
  font-size: 16px;
}

.content{
  margin-top: 30px;
  font-size: 14px;
  margin-bottom: 20px;
}

.stars{
  font-size: 35px;
  color: #816858;
}

.date-prod{
  font-weight: 100;
  font-size: 16px;
}


}

@media (max-width: 768px) {


  .navbar a {
    font-size: 14px;
  }

  .nav-right{
    gap: 2px;
  }
  
  .logo{
    margin-top: 6px;
  }
  
  nav{
    gap: 2px;
  }

}